# Flutter Project
# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.iml
*.ipr
*.iws
.atom/

# OS
.DS_Store
Thumbs.db

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
pubspec.lock
app.*.symbols
app.*.map.json
android/app/debug
android/app/profile
android/app/release
*.freezed.dart
*.g.dart
*.gr.dart

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Miscellaneous
*.class
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
